canvas {
    background-color: #000000;
}

body {
    background-color: #000000;
    /* 150050, FB2576, 3F0071*/
}

p,h1 {
    font-family: verdana;
    color: #EEEEEE;
}

#p1 {
    font-family: verdana;
    color: #00F5FF;
}

#p2 {
    font-family: verdana;
    color: #EA047E;
}

#p3 {
    font-family: verdana;
    color: #FCE700;
}

a {
    background-color: #EEEEEE;
    border: none;
    color: 423E37;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    font-family: verdana;
    text-decoration: none;
}