h1, p, label
 {
    font-family: verdana;
    color: #EEEEEE;
 }

 body {
    background-color: #000000;
 }

 button {
    background-color: #EEEEEE;
    border: none;
    color: 423E37;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
    cursor: pointer;
    font-family: verdana;
    text-decoration: none;
 }

 a {
     background-color: #EEEEEE;
     border: none;
     color: 423E37;
     padding: 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     border-radius: 12px;
     cursor: pointer;
     font-family: verdana;
     text-decoration: none;
 }

#game {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.row {
    display: flex;
    flex-direction: row;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #EEEEEE;
}

.box {
    height: 1;
    width: 150px;
}

.hContainer {
    height: 8px;
    width: 150px;
    border: 4px;
}

.vContainer {
    height: 150px;
    width: 8px;
    border: 4px;
}

#board {
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    margin: 10px
}

input[type=text] {
    background-color: #EEEEEE;
    border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    align-content: stretch;
}
